.meme-generator {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.meme-generator img {
    height: 430px;
    object-fit: cover;
}


.meme-generator .generate-meme-btn {
    padding: 8px 20px;
    border: none;
    border-left: 4px solid #222;
    border-right: 4px solid #222;
    margin: 24px 0;
    font-size: 20px;
    color: #131212;
    background: #ec7676;
    cursor: pointer;
    transition: all 100ms ease-in;
}

.meme-generator .generate-meme-btn:hover {
    padding: 8px 25px;
    border-left: 5px solid #222;
    border-right: 5px solid #222;
    letter-spacing: 1px;
}

.meme-generator .meme-author {
    margin: 8px;
}
